**1.** Write a Python program which accepts the radius of a circle from the user
and compute the area.

Sample input: Enter the radius: 3

Sample output: Area of Circle is 28.59999999999

In [ ]:
import math as m

In [ ]:
r=int(input('Enter the radius'))
Area=m.pi*r**2
print('Area of the circle is:', Area)

Enter the radius3
Area of the circle is: 28.274333882308138

**2.** Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

Sample input:

 Enter the name: Anisha

Enter the roll number: 21

Enter the mark: 78

Sample output: Name: Anisha

Roll No: 21

Mark: 78

In [ ]:
name=input('Enter the name:')
roll_number=int(input('Enter the roll number:'))
mark=int(input('Enter the mark:'))

Enter the name:Anisha
Enter the roll number:21
Enter the mark:78

In [ ]:
name=input('Name:')
roll_number=int(input('Roll number:'))
mark=int(input('Mark:'))

Name:Anisha
Roll number:21
Mark:78

**3.** Write a Python function called exponent(base,exp) that returns an
integer value of base raises to the power of exp. Sample input:

 Enter the base: 2

 Enter the exponent: 3

 Sample output: 8

In [ ]:
def exponent(base,exp):
  base=int(input('Enter the base:'))
  expo=int(input('Enter the exponent:'))
  print('Sample output:',base**expo)

In [ ]:
exponent(2,3)

Enter the base:2
Enter the exponent:3
Sample output: 8

4. Given a range of first 10 numbers, write a Python program to iterate from start number to the end number and print the sum of the current number
and previous number.

Sample input: 1….10

Sample output: Current Number 1

Previous Number 0

Sum: 1

Current Number 2

Previous Number 1

Sum: 3

Current Number 3

Previous Number 2

Sum: 5…

Current Number 10

Previous Number 9

Sum: 19

In [ ]:
for i in range(1,11):
  print('Current Number:',i)
  print('Previous Number:',i-1)
  print('Sum:',i+i-1)

Current Number: 1
Previous Number: 0
Sum: 1
Current Number: 2
Previous Number: 1
Sum: 3
Current Number: 3
Previous Number: 2
Sum: 5
Current Number: 4
Previous Number: 3
Sum: 7
Current Number: 5
Previous Number: 4
Sum: 9
Current Number: 6
Previous Number: 5
Sum: 11
Current Number: 7
Previous Number: 6
Sum: 13
Current Number: 8
Previous Number: 7
Sum: 15
Current Number: 9
Previous Number: 8
Sum: 17
Current Number: 10
Previous Number: 9
Sum: 19

**5. **Write a Python program to print only those numbers which are divisible of 5.

Sample input: 10, 20,33,46,55

Sample output: 10, 20, 55

In [ ]:
for n in (10,20,33,46,55):
  print('sample input:',n)
  if n%5==0:
    print('sample output:',n)

sample input: 10
sample output: 10
sample input: 20
sample output: 20
sample input: 33
sample input: 46
sample input: 55
sample output: 55

**6.** Write a Python program to check whether a number is prime or not.

Sample input: Enter the number: 3

Sample output: 3 is a prime number.

In [ ]:
n=int(input('Sample input: Enter the number: '))
if n>1:
  for i in range(2,n):
    if n%i==0:
      ('not a prime number')
      break
  else:
    print('Sample output:',n,'is a prime number')
else:
  ('is not a prime number')

Sample input: Enter the number: 3
Sample output: 3 is a prime number

**7.** Write a Python program to reverse a list using for loop.

Sample input: 10,40,30,70

Sample output: 70,30,40,10

In [ ]:
x=[]
y=[10,40,30,70]
for i in range(len(y)):
  a=y.pop()
  x.append(a)
print(x)

[70, 30, 40, 10]

**8.** Write a Python program to print the following pattern.

#*
#**
#***
#****

In [ ]:
for i in range(5):
  print('*'*i)

*
**
***
****

**9.** Write a Python program to find the maximum of three numbers

Sample input: 34,12,7

Sample output: 34

In [ ]:
a,b,c=eval(input('Sample input'))
if a>b and a>c:
  print('sample output',a)
elif b>a and b>c:
  print('sample output',b)
else:
  print('sample output',c)

Sample input34,12,7
sample output 34

**10.** Write a Python program to construct the following pattern, using a
nested for loop.
#*
#**
#***
#****
#*****
#****
#***
#**
#*

In [ ]:
for i in range(7):
  if i<=5:
    print('*'*i)
  else:
    for j in range(5):
      print('*'*(4-j))

*
**
***
****
*****
****
***
**
*