<a href="https://colab.research.google.com/github/princealexanderm/ICT_DAS_Prince_Alex/blob/main/Prince_Python_Practice_Problems_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**1.** Write a Python program to accept a string value from the user and display the count of each character in that string.

 Sample input: Enter a string value: assembly

 Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1

In [ ]:
x=input('Enter a string value:')
for i in x:
  n=x.count(i)
  print(i,'=',n)

Enter a string value:assembly
a = 1
s = 2
s = 2
e = 1
m = 1
b = 1
l = 1
y = 1

**2.** Write a Python program to find the maximum of three numbers

Sample input: 34,12,7

Sample output: 34

In [ ]:
a,b,c=eval(input('Sample input'))
if a>b and a>c:
  print('sample output',a)
elif b>a and b>c:
  print('sample output',b)
else:
  print('sample output',c)

Sample input34,12,7
sample output 34

**3.** Write a Python function called exponent(base,exp) that returns an integer value of base raises to the power of exp. Sample input:

Enter the base: 2

Enter the exponent: 3

Sample output: 8

In [ ]:
def exponent(base,exp):
  base=int(input('Enter the base:'))
  expo=int(input('Enter the exponent:'))
  print('Sample output:',base**expo)

In [ ]:
exponent(2,3)

Enter the base:2
Enter the exponent:3
Sample output: 8

**4.** Write a Python function that takes a positive integer and returns the sum of the cube of all the positive integers smaller than the specified number.

Sample input: 4

Sample output: 36.

In [ ]:
n=int(input('Sample input:'))
cube=0
for i in range(n):
  cube=cube+i**3
print('Sample output:',cube)

Sample input:4
Sample output: 36

**5.** Write a Python program which iterates from 1 to 10. For multiples of 2, print “Fizz” instead of the number and for the multiples of 5, print “Buzz”. For numbers which are multiples of both 2 and 5, print “FizzBuzz”.

Sample input: numbers from 1 to 10

Sample output: 1 Fizz

3 Fizz Buzz Fizz

7 Fizz

9 FizzBuzz

In [ ]:
for i in range(1,11):
  if i%2==0 and i%5==0:
    print('FizzBuzz')
  elif i%5==0:
    print('Buzz')
  elif i%2==0:
    print('Fizz')
  else:
    'nothing'

Fizz
Fizz
Buzz
Fizz
Fizz
FizzBuzz

**6.** Write a Python program to find the most frequent item in a list of
numbers.

 Sample input: 2, 3, 4, 2, 5, 2
 Sample output: 2

In [ ]:
y=[]
lis=[2,3,4,2,5,2]
for i in lis:
  x=lis.count(i)
  y.append(x)
y
z=max(y)
a=y.index(z)
n=lis[a]
print('sample output:',n)

sample output: 2

**7.** Write a Python program to find the sum of squares of the numbers in alist.

Sample input: 2,1,3,1

Sample output: 15

In [ ]:
import numpy as np
x=np.array([2,1,3,1])
y=sum(x**2)
print('sample output:',y)

sample output: 15

or

In [ ]:
lis=[2,1,3,1]
x=0
for i in lis:
  x=x+i**2
print('sample output:',x)

sample output: 15

**8.** Write a Python program using for loop that will iterate from 1 to 15. For each iteration, check if the current number is odd or even, and display the message to the screen as odd or even.

Sample input: 1….15

Sample output: 1-odd 2-even …. 15-odd

In [ ]:
for i in range (1,16):
  if i%2==0:
    print(i,'-','even')
  else:
    print(i,'-','odd')

1 - odd
2 - even
3 - odd
4 - even
5 - odd
6 - even
7 - odd
8 - even
9 - odd
10 - even
11 - odd
12 - even
13 - odd
14 - even
15 - odd

**9.** Write a Python program to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.]

Sample input: Temperature in Fahrenheit=41

Sample output: Temperature in Celsius =5

Fahrenheit to Celsius

In [ ]:
f=int(input('Temperature in Fahrenheit:'))
c=(f-32)*(5/9)
print('Temperature in Celsius:',c)

Temperature in Fahrenheit:41
Temperature in Celsius: 5.0

Celsius to Fahrenheit

In [ ]:
c=int(input('Temperature in Celsius:'))
f=(9/5)*c+32
print('Temperature in Fahrenheit:',f)

Temperature in Celsius:5
Temperature in Fahrenheit: 41.0

**10.** Write a Python function to calculate the factorial of a number (a
nonnegative integer). The function accepts the number as an argument.
Sample input: 3 Sample output: 6

In [ ]:
def fact(n):
  fact=1
  for i in range(1,n+1):
    fact=fact*i
  return (print('sample output:',fact))
fact(4)

sample output: 24